* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: #f0f0f0;
	height: 70px;
	.left {
		margin-left: 40px;
		display: flex;
		gap: 12px;

		a {
			text-decoration: none;
			color: #000000;
			font-size: 16px;
		}
	}
	.right {
		margin-right: 40px;
		display: flex;
		gap: 10px;
		a {
			text-decoration: none;
			color: #000000;
			font-size: 16px;
		}
	}
}
body {
	font-family: Roboto;

	h1 {
		margin-top: 80px;
		margin-bottom: 30px;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	input {
		width: 320px;
		height: 45px;
		margin: auto;
		border-radius: 10px;
		border: 1px solid black;
		text-align: center;
		color: grey;
	}
	.flex {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin-top: 20px;
	}
	.btn_enter {
		width: 320px;
		height: 45px;
		color: white;
		background-color: blue;
		border-radius: 10px;
		margin: auto;
		border: none;
	}
	.btn-sign {
		width: 320px;
		height: 45px;
		color: white;
		background-color: blue;
		border-radius: 10px;
		margin: auto;
		border: none;
	}

	#sign {
		text-decoration: none;
		color: blue;
		font-size: 17px;
	}
}
.container {
	margin: 0 auto;
	width: 1200px;
	.wallet {
		font-size: 48px;
		color: #000000;
	}
	.email {
		font-size: 18px;
		color: #0047ff;
		text-decoration: none;
	}

	h3 {
		margin-top: 80px;
		font-size: 24px;
		font-weight: 500;
	}
	.cards {
		display: grid;
		grid-template-columns: repeat(4,1fr);
	}
	.card {
		width: 282px;
		height: 175px;
		background: linear-gradient(84.37deg, #d7816a 2.27%, #bd4f6c 92.26%);
		border-radius: 15px;
		margin-top: 20px;
		margin-bottom: 10px;
		color: white;
		span {
			padding: 23px;
		}
		.Visa {
			font-size: 24px;
			display: flex;
			margin-top: 19px;
			margin-bottom: 50px;
		}
		.RUB {
			font-size: 14px;
		}
	}

	.watch_wallet {
		color: #0047ff;
		font-size: 16px;
	}

	.trans_action {
		font-size: 24px;
		color: #000000;
		margin-top: 100px;
		display: flex;
	}
	.btn_add {
		width: 438px;
		height: 56px;
		background-color: #0047ff;
		color: white;
		border-radius: 10px;
		border: none;
		margin-top: 30px;
	}

	#currency {
		margin: auto;
		width: 320px;
		height: 40px;
		border-radius: 10px;
		border: 1px solid black;
		text-align: center;
	}

	table {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;
		tr {
			th {
				text-align: start;
				font-size: 14px;
				color: #b9c0d1;
				font-weight: 600;
				padding-bottom: 30px;
			}
			td {
				font-size: 14px;
				padding-bottom: 15px;
				border-bottom: 1px solid #b9c0d1;
				font-weight: 600;
			}
		}
	}
}
